<p>Team: <%=@team.name %></p>

<form method="post" action="/teams/<%=@team.id%>/edit">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value=" <%=  @team.name %>">
  <input type="submit"  value="Edit Team">

</form>
