<li>
  <a href="/teams/new">New Team</a>
</li>
<hr>

<% for team in @teams %>
  <p><%= team.name%> </p>

  <a href="/teams/<%= team.id  %>">Show Team</a>

  <hr/>
<%end  %>

<hr>

<% for team in @sorted_teams %>
  <p><%= team.name%> </p>

  <a href="/teams/<%= team.id  %>">Show Team</a>

  <hr/>
<%end  %>
