<div class="new-item-button">
  <a href="/teams/new">New Team</a>
</div>

<hr>

<% for team in @teams %>
  <div class="team-index-item">
    <a href="/teams/<%= team.id  %>"><p><%= team.name %></p></a>
  </div>
<% end %>

<hr>
