<div class="new-item-button">
  <h2><a href="/teams/new">New Team</a></h2>
</div>

<hr>

<div class="index-item">
  <% sorted_teams_alphabetically = Team.sort_alphabetically() %>
  <% for team in sorted_teams_alphabetically %>
    <div class="team-index-item">
      <a href="/teams/<%= team.id %>"><p><%= team.name %></p></a>
    </div>
  <% end %>
</div>

<hr>
