<h1>Welcome to the Bloodbowl League Tracker</h1>

<ul>
  <li>
    <a href="/games">Games</a>
  </li>
  <li>
    <a href="/teams">Teams</a>
  </li>
  <li>
    <a href="/games/new">New Game</a>
  </li>
  <li>
    <a href="/teams/new">New Team</a>
  </li>
</ul>
