<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <title>Bloodbowl Tournament Tracker</title>
  </head>
  <body>
    <div class="inner-background">
      <nav>
        <ul>
          <li>
            <a href="/" style="text-decoration: none">Home</a>
          </li>
          <li>
            <a href="/games" style="text-decoration: none">Games</a>
          </li>
          <li>
            <a href="/teams" style="text-decoration: none">Teams</a>
          </li>
        </ul>
      </nav>
      <h1>Bloodbowl Tournament Tracker</h1>
      <%= yield  %>
    </div>
  </body>
</html>
