<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bloodbowl League</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/games">Games</a>
        </li>
        <li>
          <a href="/teams">Teams</a>
        </li>
      </ul>
    </nav>
    <%= yield  %>
  </body>
</html>
