<li>
  <a href="/games/new">New Game</a>
</li>
<hr>

<% for game in @games %>
  <p><a href="/games/<%= game.id  %>"><%= game.team1().name %> VS <%= game.team2().name %></a> : Played on - <%= game.date_of_game %></p>
  <hr/>
<%end  %>
