<div class="new-item-button">
  <h2><a href="/games/new">New Game</a></h2>
</div>

<hr>

<div class="index-item">
  <% sorted_games_by_date = Game.sort_by_date() %>
  <% for game in sorted_games_by_date %>
    <p><a href="/games/<%= game.id %>"><%= game.team1().name %> VS <%= game.team2().name %></a> : Played on - <%= game.date_of_game %></p>
  <% end %>
</div>

<hr>
