<li>
  <a href="/games/new">New Game</a>
</li>
<hr>

<% for game in @games %>
  <p><%= game.team1().name %> VS <%= game.team2().name %></p>

  <a href="/games/<%= game.id  %>">Show Game</a>

  <hr/>
<%end  %>
