<form method="post" action="/games">

  <label for="team1-id">Team 1 ID:</label>
  <input type="text" name="team1_id" id="team1-id">

  <label for="team2-id">Team 2 ID:</label>
  <input type="text" name="team2_id" id="team2-id">

  <label for="team1-score">Team 1 score:</label>
  <input type="text" name="team1_score" score="team1-score">

  <label for="team2-score">Team 2 score:</label>
  <input type="text" name="team2_score" score="team2-score">



  <input type="submit"  value="New Game">

</form>
