<form method="post" action="/games">

  <label for="team1-id">Team 1 ID:</label>
  <input type="text" name="team1_id" id="team1-id">

  <label for="team2-id">Team 2 ID:</label>
  <input type="text" name="team2_id" id="team2-id">

  <label for="outcome">Outcome:</label>
  <input type="text" name="outcome" id="outcome">

  <input type="submit"  value="New Game">

</form>
